html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider-container {
    position: relative;
    min-height: 50vh;
    width: 700px;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    margin: 0;
    background: rgba(255, 255, 255, 0.6);
    padding: 1rem 3rem;
    border-radius: 10px;
}

.btn-container {
    margin-top: 3rem;
}

.btn-container button {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.prev-btn {
    margin-right: 2rem;
}

/* .slide:nth-child(1) {
    left: 0;
}

.slide:nth-child(2) {
    left: 100%;
}

.slide:nth-child(3) {
    left: 200%;
}

.slide:nth-child(4) {
    left: 300%;
}

.slide:nth-child(5) {
    left: 400%;
}

.slide {
    transform: translateX(0%);
} */